/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */

  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  
  .frm {
      padding: 30px 40px;	
  }
  
  .frm-control {
      margin-bottom: 10px;
      padding-bottom: 20px;
      position: relative;
  }
  
  .frm-control label {
      display: inline-block;
      margin-bottom: 5px;
  }
  
  .frm-control input {
      border: 2px solid #f0f0f0;
      border-radius: 4px;
      display: block;
      font-family: inherit;
      font-size: 14px;
      padding: 10px;
      width: 100%;
  }
  
  .frm-control input:focus {
      outline: 0;
      border-color: #777;
  }
  
  .frm-control.success input {
      border-color: #2ecc71;
  }
  
  .frm-control.error input {
      border-color: #e74c3c;
  }
  
  .frm-control i {
      visibility: hidden;
      position: absolute;
      top: 40px;
      right: 10px;
  }
  
  .frm-control.success i.fa-check-circle {
      color: #2ecc71;
      visibility: visible;
  }
  
  .frm-control.error i.fa-exclamation-circle {
      color: #e74c3c;
      visibility: visible;
  }
  
  .frm-control small {
      color: #e74c3c;
      position: absolute;
      bottom: 0;
      left: 0;
      visibility: hidden;
  }
  
  .frm-control.error small {
      visibility: visible;
  }
  .frm .foot{
      display:flex;
  }
  .frm button {
      background-color: #222;
      border: 2px solid #222;
      border-radius: 4px;
      color: #fff;
      font-family: inherit;
      font-size: 16px;
      padding: 10px;
      margin-left : 20px;
      margin-right : 20px;
      margin-top : 20px;
      width: 50%;
  }
   .frm .bt-rs{
      background-color: #f1f1f1;
      border: 2px solid #f1f1f1;
      border-radius: 4px;
      color:#222;
      font-family: inherit;
      font-size: 16px;
      padding: 10px;
      margin-left : 20px;
      margin-right : 20px;
      margin-top : 20px;
      width: 50%;
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(194, 49, 49);
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #222;
    color: white;
   }
  
  .modal-body {padding: 2px 16px;}
  
  .btn {
    background-color: #2f323a;
    border: none;
    border-radius :2px;
    color: white;
    padding: 10px 14px 10px 10px;
    font-size: 16px;
    margin:10px 5px 15px;
    cursor: pointer;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: #222;
  }
  
  
.frm a{
  text-decoration: none;
  color: #222;
  text-align: center;
}


  .wrap-table100 {
    width: 100%;
  }
  
  table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  table * {
    position: relative;
  }
  table td, table th {
    padding-left: 8px;
  }
  table thead tr {
    height: 60px;
    background: teal;
  }
  table tbody tr {
    height: 50px;
  }
  table tbody tr:last-child {
    border: 0;
  }
  table td, table th {
    text-align: left;
  }
  table td.l, table th.l {
    text-align: right;
  }
  table td.c, table th.c {
    text-align: center;
  }
  table td.r, table th.r {
    text-align: center;
  }
  
  
  .table100-head th{
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f5f5f5;
  }
  
  tbody tr {
    font-size: 15px;
    color: #808080;
    line-height: 1.2;
    font-weight: unset;
  }
  
  tbody tr:hover {
    color: #555555;
    background-color: #f5f5f5;
    cursor: pointer;
  }
  
  .column1 {
    width: 260px;
    padding-left: 40px;
  }
  
  .column2 {
    width: 160px;
  }
  
  .column3 {
    width: 245px;
  }
  
  .column4 {
    width: 110px;
    text-align: right;
  }
  
  .column5 {
    width: 170px;
    text-align: right;
  }
  
  .column6 {
    width: 222px;
    text-align: right;
    padding-right: 62px;
  }
  
  
  table i{
    padding: 5px;
    margin :5px;
    size: 10px;
    
  }
  table a{
    color: teal;
    display: flex;
    float: right;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
    transition: 0.5s;
    transition-property: teal;
  }
  @media screen and (max-width: 992px) {
    table {
      display: block;
    }
    table > *, table tr, table td, table th {
      display: block;
    }
    table thead {
      display: none;
    }
    table tbody tr {
      height: auto;
      padding: 37px 0;
    }
    table tbody tr td {
      padding-left: 40% !important;
      margin-bottom: 24px;
    }
    table tbody tr td:last-child {
      margin-bottom: 0;
    }
    table tbody tr td:before {
      font-size: 14px;
      color: #999999;
      line-height: 1.2;
      font-weight: unset;
      position: absolute;
      width: 40%;
      left: 30px;
      top: 0;
    }
    table tbody tr td:nth-child(1):before {
      content: "Nom ";
    }
    table tbody tr td:nth-child(2):before {
      content: "Service";
    }
    table tbody tr td:nth-child(3):before {
      content: "Email";
    }
    table tbody tr td:nth-child(4):before {
      content: "Mot de passe";
    }
  
    .column4,
    .column5,
    .column6 {
      text-align: left;
    }
  
    .column4,
    .column5,
    .column6,
    .column1,
    .column2,
    .column3 {
      width: 100%;
    }
  
    tbody tr {
      font-size: 14px;
    }
  }
  
  @media (max-width: 576px) {
    .container-table100 {
      padding-left: 15px;
      padding-right: 15px;
    }
  }





