

.blog-posts{
    margin-top: 130px;
    width: min(1200px,100%);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    cursor: pointer;

}

.post{
    width: calc(33% - 10px);
    overflow: hidden;
}
.post .titre{
    width: 100%;
    border-radius: 6px;
    transition: .3s linear;

}

.post-content{
    background-color: #f9f9f9;
    margin: 0 20px;
    padding: 30px;
    border-radius: 6px;
    transform: translateY(-35px);
    transition: .3s ;
}
.post-content h2{
    font-size: 16px;
    margin-bottom: 10px;
    
}
.date{
    font-size: 15px;
    font-style: italic;
    color: #e77f67;

}

.post:hover .titre{
    transform: translateY(20px);
}

.post:hover .post-content{
    transform: translateY(-60px);
}


@media screen and (max-width: 1100px){
    .blog-posts{
        justify-content: center;
    }
    .post{
        width: min(600px , 100%);
    }
}




button{
    background:rgb(24, 148, 80);
    color:#fff;
    border:none;
    text-align: center;
    position:relative;
    height:60px;
    font-size:1.6em;
    padding:0 2em;
    margin-right: 20px;
    cursor:pointer;
    outline:none;
  }
  button:hover{
    background:#fff;
    color:rgb(24, 148, 80);
  }
  button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: rgb(24, 148, 80);
    transition:400ms ease all;
  }
  button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
  }


